@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h4 class="card-title">Consumer Settings</h4>
                </div>
            </div><!--end card-header-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 g-2">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">
                                UserName
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>

                            <input class="form-control" type="text" value="" id="example-text-input">

                        </div>
                    </div>
                    <div class="col-lg-6 g-2">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">
                                Email
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>

                            <input class="form-control" type="email" value="kansheyam0812@gmail.com" id="example-text-input">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 g-2">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">Password</label>
                            <input class="form-control" type="password" value="" id="example-text-input">
                        </div>
                    </div>
                    <div class="col-lg-6 g-2">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">Confirm Password</label>
                            <input class="form-control" type="password" value="" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 g-2">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">
                                Phone
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>

                            <input class="form-control" type="tel" value="9784687563" id="example-text-input">

                        </div>
                    </div>
                    <div class="col-lg-6 g-2">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">
                                Website
                            </label>

                            <input class="form-control" type="url" value="https://www.google.com" id="example-text-input">

                        </div>
                    </div>
                </div>
            </div><!--end card-body-->
        </div>
    </div>
</div>

